/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.infografia {
    background-color: #ffdddd;
    padding: 40px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.header-principal {
    background-color: #e60000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.titulo-principal {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
}

.subtitulo-header,
.autor-header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 5px 0;
}

.titulo-secundario {
    color: #cc0000;
    font-size: 28px;
    margin-top: 20px;
    text-transform: uppercase;
}

.subtitulo {
    color: #990000;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.descripcion, ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.fuente {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-top: 30px;
}

.fuente a {
    color: #cc0000;
    text-decoration: none;
}

/* Efecto de textura de papel */
.infografia {
    background-image: url('tu-textura-de-papel.jpg'); /* Añadir una imagen de textura de papel */
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 15px;
}
